.wineQuizHeader {
    background-color: transparent;
    text-align: center;
}

.wineQuizBody {
    background: url(../background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer{
    color: white;
}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}